{% extends "base_generic.html" %}
{% load static %}

{% block title %}Toma la foto{% endblock %}
{% block content %}
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="camera-wrapper">
        <div class="container-fluid dashboard-content">
            <h2 class="pageheader-title center">Captura tu Factura</h2>
            <br>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 center">

                    <!--<p><button id="start" onclick="start()">start camera!</button></p>-->
                    <script>
                        $(document).ready(function() {
                            start();
                        })

                    </script>

                    <div>
                     <div>
                         <p id="camera-tag"><video id="video-tag" class="video-size" autoplay=true/></video></p>
                     </div>
                     <div>
                      <p><img id="image-tag" class="video-size"> </img></p>
                     </div>
                    </div>

                    <div id="photo_btn">
                      <button class="btn btn-primary" onclick="takePhoto()">Registrar Transacción</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block optionalJS %}
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'libs/js/main-js.js' %}"></script>
    <script src="{% static 'js/camera.js' %}"></script>
{% endblock %}
