{% extends "base_generic.html" %}
{% load static %}

{% block title %}Taipi CRM{% endblock %}
{% block extraLibraries %}
    <link rel="stylesheet" href="{% static '/vendor/vector-map/jqvmap.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/jvectormap/jquery-jvectormap-2.0.2.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/vendor/daterangepicker/daterangepicker.css' %}" />
{% endblock %}

{% block content %}
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-finance">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h3 class="mb-2">Análisis Predictivo </h3>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Análisis</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Predictivo</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        {% for c in clusters %}
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 center">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title border-bottom pink">Cluster #{{forloop.counter}}</h3>
                                    <p class="card-text card-clusters"><strong>Subsector: </strong>{{c.0}}</p>
                                    <p class="card-text card-clusters"><strong>Género: </strong>{{c.1}}</p>
                                    <p class="card-text card-clusters"><strong>Tipo de Viaje: </strong>{{c.2}}</p>
                                    <p class="card-text card-clusters"><strong>Tipo de Turista: </strong>{{c.3}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Cantidad de Turistas</h5>
                                <div class="card-body">
                                    <div class="ct-chart-line-invoice ct-golden-section"></div>
                                    <div class="text-center m-t-10">
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Predicción</span>
                                        </span>
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Histórico</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block optionalJS %}
    <!-- bootstap bundle js -->
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static '/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- chart chartist js -->
    <script src="{% static '/vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <script src="{% static '/vendor/charts/chartist-bundle/Chartistjs.js' %}"></script>
    <script src="{% static '/vendor/charts/chartist-bundle/chartist-plugin-threshold.js' %}"></script>
    <!-- chart C3 js -->
    <script src="{% static '/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static '/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <!-- chartjs js -->
    <script src="{% static '/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static '/vendor/charts/charts-bundle/chartjs.js' %}"></script>
    <!-- sparkline js -->
    <script src="{% static '/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
    <!-- dashboard finance js -->
    <script src="{% static '/libs/js/dashboard-finance.js' %}"></script>
    <script src="{% static 'libs/js/dashboard-sales.js' %}"></script>
    <!-- main js -->
    <script src="{% static '/libs/js/main-js.js' %}"></script>
    <!-- gauge js -->
    <script src="{% static '/vendor/gauge/gauge.min.js' %}"></script>
    <!-- morris js -->
    <script src="{% static '/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
    <script src="{% static '/vendor/charts/morris-bundle/morris.js' %}"></script>
    <script src="{% static '/vendor/charts/morris-bundle/morrisjs.html' %}"></script>
    <!-- daterangepicker js -->
    <script src="../../../../cdn.jsdelivr.net/momentjs/latest/moment.min.js' %}"></script>
    <script src="../../../../cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js' %}"></script>
    <script>
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
    </script>

    <script>
        $(function() {
        "use strict";

        new Chartist.Line('.ct-chart-line-invoice', {
            labels: {{ tourism_qty.forecast.labels | safe }},
            series: [
                {{ tourism_qty.forecast.data | safe }},
                {{ tourism_qty.old.data | safe }}

            ]
        }, {
            fullWidth: true,
            chartPadding: {
                right: 40
            },
            axisY: {
                labelInterpolationFnc: function(value) {
                    return value;
                }
            },


        });
     });
    </script>
{% endblock %}