<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wanda</title>
    <link rel='icon' href="{% static 'images/favicon.png' %}">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/fonts/circular-std/style.css' %}">
    <link rel="stylesheet" href="{% static '/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/vector-map/jqvmap.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/jvectormap/jquery-jvectormap-2.0.2.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/vendor/daterangepicker/daterangepicker.css' %}" />
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <img class="logo" src="{% static '/images/magic-wand.png' %}">
                <a class="navbar-brand" href="upload">WANDA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menú
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1">
                                    <i class="fas fa-fw fa-table"></i>Recolección <span class="badge badge-success">6</span>
                                </a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="form">Nueva Transacción</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Carga Masiva (Próximamente)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Integración Digital (Próximamente)</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2">
                                    <i class="fas fa-fw fa-chart-pie"></i>Análisis
                                </a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="descriptive">Descriptivo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="predictive">Predictivo<br>(Próximamente)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Tendencias<br>(Próximamente)</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-finance">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h3 class="mb-2">Análisis Descriptivo </h3>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Análisis</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Descriptivo</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-8 col-lg-12 col-md-8 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Cantidad de Turistas</h5>
                                <div class="card-body">
                                    <canvas id="revenue" width="400" height="150"></canvas>
                                </div>
                                <div class="card-body border-top">
                                    <div class="row">
                                        <div class="offset-xl-1 col-xl-5 col-lg-3 col-md-6 col-sm-12 col-12 p-3">
                                            <h2 class="font-weight-normal mb-3"><span>{{ tourist_summary.1.user_id }}</span>                                                    </h2>
                                            <div class="mb-0 mt-3 legend-item">
                                                <span class="fa-xs text-primary mr-1 legend-title "><i class="fa fa-fw fa-square-full"></i></span>
                                                <span class="legend-text">Nacional</span></div>
                                        </div>
                                        <div class="offset-xl-1 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 p-3">
                                            <h2 class="font-weight-normal mb-3">

                                                            <span>{{ tourist_summary.0.user_id }}</span>
                                                        </h2>
                                            <div class="text-muted mb-0 mt-3 legend-item"> <span class="fa-xs text-secondary mr-1 legend-title"><i class="fa fa-fw fa-square-full"></i></span><span class="legend-text">Internacional</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Tipos de Turistas</h5>
                                <div class="card-body">
                                    <div id="morris_profit" style="height: 272px;"></div>
                                </div>
                                <div class="card-footer bg-white">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Productos más Populares</h5>
                                <div class="card-body">
                                    <canvas id="chartjs_balance_bar"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Subsectores más Populares</h5>
                                <div class="card-body">
                                    <canvas id="chartjs_balance_bar2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- disputed invoices  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Precio Promedio</h5>
                                <div class="card-body">
                                    <div class="ct-chart-line-invoice ct-golden-section"></div>
                                    <div class="text-center m-t-10">
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-primary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Disputed Invoices</span>
                                        </span>
                                        <span class="legend-item mr-3">
                                                <span class="fa-xs text-secondary mr-1 legend-tile"><i class="fa fa-fw fa-square-full"></i></span>
                                        <span class="legend-text">Avarage</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end disputed invoices  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- inventory turnover  -->
                        <!-- ============================================================== -->

                    </div>
                    <!-- ============================================================== -->
                    <!-- end inventory turnover -->
                    <!-- ============================================================== -->
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>. 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- jquery 3.3.1  -->
    <script src="{% static '/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static '/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- chart chartist js -->
    <script src="{% static '/vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <script src="{% static '/vendor/charts/chartist-bundle/Chartistjs.js' %}"></script>
    <script src="{% static '/vendor/charts/chartist-bundle/chartist-plugin-threshold.js' %}"></script>
    <!-- chart C3 js -->
    <script src="{% static '/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static '/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <!-- chartjs js -->
    <script src="{% static '/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static '/vendor/charts/charts-bundle/chartjs.js' %}"></script>
    <!-- sparkline js -->
    <script src="{% static '/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
    <!-- dashboard finance js -->
    <script src="{% static '/libs/js/dashboard-finance.js' %}"></script>
    <script src="{% static 'libs/js/dashboard-sales.js' %}"></script>
    <!-- main js -->
    <script src="{% static '/libs/js/main-js.js' %}"></script>
    <!-- gauge js -->
    <script src="{% static '/vendor/gauge/gauge.min.js' %}"></script>
    <!-- morris js -->
    <script src="{% static '/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
    <script src="{% static '/vendor/charts/morris-bundle/morris.js' %}"></script>
    <script src="{% static '/vendor/charts/morris-bundle/morrisjs.html' %}"></script>
    <!-- daterangepicker js -->
    <script src="../../../../cdn.jsdelivr.net/momentjs/latest/moment.min.js' %}"></script>
    <script src="../../../../cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js' %}"></script>
    <script>
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
    </script>

    <script>
        $(function() {
        "use strict";
        // ==============================================================
        // Revenue
        // ==============================================================
        var ctx = document.getElementById('revenue').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',

                    data: {
                        labels: {{ tourist_qty.date|safe }},
                        datasets: [{
                            label: 'Nacional',
                            data: {{ tourist_qty.Nacional|safe }},
                          backgroundColor: "rgba(89, 105, 255,0.5)",
                                        borderColor: "rgba(89, 105, 255,0.7)",
                                        borderWidth: 2

                        }, {
                            label: 'Internacional',
                            data: {{ tourist_qty.Internacional|safe }},
                              backgroundColor: "rgba(255, 64, 123,0.5)",
                                        borderColor: "rgba(255, 64, 123,0.7)",
                                        borderWidth: 2
                        }]
                    },
                    options: {

                                 legend: {
                            display: true,
                            position: 'bottom',

                            labels: {
                                fontColor: '#71748d',
                                fontFamily: 'Circular Std Book',
                                fontSize: 14,
                            }
                        },
                        scales: {
                yAxes: [{
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(value, index, values) {
                            return '$' + value;
                        }
                    }
                }]
            },


             scales: {
                                        xAxes: [{
                                            ticks: {
                                                fontSize: 14,
                                                fontFamily: 'Circular Std Book',
                                                fontColor: '#71748d',
                                            }
                                        }],
                                        yAxes: [{
                                            ticks: {
                                                fontSize: 14,
                                                fontFamily: 'Circular Std Book',
                                                fontColor: '#71748d',
                                            }
                                        }]
                                    }

                    }
                });

        Morris.Donut({
                element: 'morris_profit',

                data: {{ companion_type | safe }},

                labelColor: '#ff407b',


                colors: [
                    '#ff407b',
                    '#ffd5e1'

                ],

                formatter: function(x) { return x },
                  resize: true

            });


        var ctx = document.getElementById("chartjs_balance_bar").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',


            data: {
                labels: {{ products_bar_dict.Internacional.label | safe }},
                datasets: [{
                    label: 'Nacional',
                    data: {{ products_bar_dict.Nacional.data | safe }},
                    backgroundColor: "rgba(89, 105, 255,.8)",
                    borderColor: "rgba(89, 105, 255,1)",
                    borderWidth:2

                }, {
                    label: 'Internacional',
                    data: {{ products_bar_dict.Internacional.data | safe }},
                    backgroundColor: "rgba(255, 64, 123,.8)",
                    borderColor: "rgba(255, 64, 123,1)",
                    borderWidth:2


                }]

            },
            options: {
                legend: {
                        display: true,

                        position: 'bottom',

                        labels: {
                            fontColor: '#71748d',
                            fontFamily:'Circular Std Book',
                            fontSize: 14,
                        }
                },

                    scales: {
                        xAxes: [{
                    ticks: {
                        fontSize: 14,
                         fontFamily:'Circular Std Book',
                         fontColor: '#71748d',
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontSize: 14,
                         fontFamily:'Circular Std Book',
                         fontColor: '#71748d',
                    }
                }]
                    }
            }
        });


        var ctx = document.getElementById("chartjs_balance_bar2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',


            data: {
                labels: {{ category_bar_dict.Internacional.label | safe }},
                datasets: [{
                    label: 'Nacional',
                    data: {{ category_bar_dict.Nacional.data | safe }},
                    backgroundColor: "rgba(89, 105, 255,.8)",
                    borderColor: "rgba(89, 105, 255,1)",
                    borderWidth:2

                }, {
                    label: 'Internacional',
                    data: {{ category_bar_dict.Internacional.data | safe }},
                    backgroundColor: "rgba(255, 64, 123,.8)",
                    borderColor: "rgba(255, 64, 123,1)",
                    borderWidth:2


                }]

            },
            options: {
                legend: {
                        display: true,

                        position: 'bottom',

                        labels: {
                            fontColor: '#71748d',
                            fontFamily:'Circular Std Book',
                            fontSize: 14,
                        }
                },

                    scales: {
                        xAxes: [{
                    ticks: {
                        fontSize: 14,
                         fontFamily:'Circular Std Book',
                         fontColor: '#71748d',
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontSize: 14,
                         fontFamily:'Circular Std Book',
                         fontColor: '#71748d',
                    }
                }]
                    }
            }
        });


        new Chartist.Line('.ct-chart-line-invoice', {
            labels: {{ average_price_dict.date | safe }},
            series: [
                {{ average_price_dict.values | safe }},
                {{ average_price_dict.average | safe }}

            ]
        }, {
            fullWidth: true,
            chartPadding: {
                right: 40
            },
            axisY: {
                labelInterpolationFnc: function(value) {
                    return '$'+ (value / 1000);
                }
            },


        });
     });
    </script>
</body>
</html>
