{% extends "base_generic.html" %}
{% load static %}

{% block title %}Taipi CRM{% endblock %}
{% block extraLibraries %}
    <link rel="stylesheet" href="{% static '/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
{% endblock %}

{% block content %}
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- pageheader  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header" id="top">
                                    <h2 class="pageheader-title">Recolección </h2>
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end pageheader  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- simple cards  -->
                        <!-- ============================================================== -->
                        <p>Ingresa la información de tus transacciones a través de cualquiera de las opciones a continuación:</p>
                        <div class="row options">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 center">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Nueva Transacción</h3>
                                        <p class="card-text">Ingresa la información de cada transacciones a través de un formulario
                                        ó tómale una foto a tus facturas.</p>
                                        <div><img class="icon-img" src="{% static '/images/camera.png' %}"/></div>
                                        <a href="form" class="btn btn-primary">Ingresar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 center">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Carga Masiva</h3>
                                        <p class="card-text">Sube la información de varias transacciones. <br>(Próximamente disponible)</p>
                                        <div><img class="icon-img" src="{% static '/images/writing.png' %}"/></div>
                                        <a href="#" class="btn btn-primary">Cargar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 center">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Integración Digital</h3>
                                        <p class="card-text">Vincula otras plataformas digitales.<br>(Próximamente disponible)</p>
                                        <div><img class="icon-img" src="{% static '/images/plug.png' %}"/></div>
                                        <a href="#" class="btn btn-primary">Integrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end simple cards  -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
{% endblock %}

{% block optionalJS %}
    <!-- Optional JavaScript -->
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static '/libs/js/main-js.js' %}"></script>
{% endblock %}